In [69]:
import pandas as pd

df = pd.read_csv("data.csv")
# xgboost = XGBoostModel()
# isolation_forest = IsolationForestModel()
# trainer = Trainer([xgboost])
# print("Created models, training...")
# trainer.train()
# print("Models have been retrained")

# Retrieving data

In [74]:
df = pd.read_csv("aggregated_messages.csv", index_col = 0)
df.columns = ["message"]
parsed = df["message"].apply(lambda x: json.loads(x))
df = pd.DataFrame(parsed.tolist(), index = df.index)
df.head()

,segment_id,heavy,car,v85,coordinates,timestamp,latitude,longitude,altitude,sensor_type,...,current.air_quality.no2,current.air_quality.o3,current.air_quality.so2,current.air_quality.pm2_5,current.air_quality.pm10,current.air_quality.us-epa-index,current.air_quality.gb-defra-index,p1,p2,id
0,9000000480,18.177157,4.685064,15.5,"[[[4.4450513959, 51.1771142024], [4.4455250959...",1701950400000,51.178000,4.448000,14.0,"{'id': 14, 'name': 'SDS011', 'manufacturer': '...",...,17.7,33.3,2.9,7.4,9.4,1,1,19.73,10.56,0a9df4a8-5332-46ff-9d1b-c833dba2382f
1,1003063473,35.124746,353.042178,40.0,"[[[4.3293062951, 50.8187125602], [4.3293846829...",1701950400000,50.832000,4.346000,37.1,"{'id': 14, 'name': 'SDS011', 'manufacturer': '...",...,18.0,45.8,2.7,5.4,7.1,1,1,14.63,7.33,6f4ca1e0-84c9-4de4-80d5-c1049d4070bf
2,9000000480,18.177157,4.685064,15.5,"[[[4.4450513959, 51.1771142024], [4.4455250959...",1701950400000,51.170346,4.451626,16.8,"{'id': 9, 'name': 'DHT22', 'manufacturer': 'va...",...,17.7,33.3,2.9,7.4,9.4,1,1,99.90,6.90,3a2e2f91-065e-443b-a4dc-1deac03d98e2
3,9000000573,0.000000,12.312664,32.5,"[[[4.7020009958, 50.8990053025], [4.7018461958...",1701950400000,50.890000,4.724000,25.5,"{'id': 9, 'name': 'DHT22', 'manufacturer': 'va...",...,13.9,43.6,2.0,5.7,7.4,1,1,99.90,5.06,91d1d7d4-dd8c-4e71-81ab-0eaae3e2b424
4,9000000399,9.443568,85.093853,20.5,"[[[4.4584518959, 51.1654585024], [4.4580105959...",1701950400000,51.178000,4.448000,14.0,"{'id': 9, 'name': 'DHT22', 'manufacturer': 'va...",...,17.7,33.3,2.9,7.4,9.4,1,1,99.90,5.91,2b684ccf-cfd2-4036-84ce-2bf6fffed395

In [100]:
preds = pd.read_csv("predictions.csv", index_col = 0)
preds.head()

classifiers = preds.loc["classifiers"].values
regressors = preds.loc["regressors"].values

regressors

array(["[{'XGBRegressor': array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,\n       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,\n       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])}]"],
      dtype=object)

In [106]:
import json

regressors[0]

"[{'XGBRegressor': array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,\n       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,\n       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])}]"